:root {
   --red: hsl(0, 78%, 62%);
   --varyDarkBlue: hsl(234, 12%, 20%);
   --grayishBlue: hsl(229, 6%, 66%);
   --veryLightGray: hsl(0, 0%, 98%);
   --weight3: 600;
   --blue: hsl(212, 86%, 64%);
   --orange: hsl(34, 97%, 64%);
    }
body {
   font-size: 15px;
   font-family: 'Poppins', sans-serif;
   background-image: linear-gradient(to right, #8e2de2, #4a00e0);
   margin-left: 200px;
      }
h1 {
   text-align: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: floralwhite;
    }
ul {
   padding-left: 10px;
   }
p, ul{ 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
.box {
   border-radius: 5px;
   box-shadow: 0px 30px 40px -20px hsl(229, 6%, 45%);
   padding: 30px;
   margin: 20px;  
   display: inline-block;
   }
.box p, li {
   color: var(--grayishBlue);
}
.red, .orange, .blue {
   vertical-align: top;
   }
.blue {
   border-top: 3px solid var(--blue);
   height: 415px;
      }
.orange {
   border-top: 3px solid var(--orange);
   height:415px;
      }
.red {
   border-top: 3px solid var(--red);
    }
h2 {
   color: var(--varyDarkBlue);
   font-weight: var(--weight3);
      }
img {
   float: right;
   width:25px;
   }

@media (max-width: 350px) {
body {
   margin-left: initial;
      }
.box {
   height: 200px;
       }
}

@media (max-width: 950px) and (min-width: 350px) {
body {
   margin-left: initial;
  }
.box {
   text-align: center;
   height: 415px;
       }
}

@media (width: 950px){
body {
   margin-left: initial;
  }
.box {
   text-align: center;
   height: 550px;
   }
}

@media (min-width: 950px) {
.box {
   width: 20%;
       }
}

@media (min-width: 1500px) {
body{
   font-size: 1.3rem;
    }
}