:root {
    --grayishBlue: hsl(229, 6%, 30%);
}
body{ 
    background-image: linear-gradient(to right, #8e2de2, #4a00e0); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
nav{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   
   }
ul {
    list-style-type: none;
    text-align: center;
}
li {
    padding: 11px;
    display: inline;
}
li a {
    text-decoration: none;
    color:rgb(255, 123, 0);
}
li a:hover {
    color: orange;
}
li a:active {
    color: rgb(245, 191, 92);
}
h1 {
   text-align: center;
   opacity: 0;
   animation: fadeIn 5s ease-in-out;
   animation-fill-mode: forwards;
   font-size: 1.2rem;
   line-height: 2.5rem;
   display: inline-block;
   margin-left: 10px;
   color: white;
}
span {
   display: inline-block;
   font-size: 1rem;
   line-height: 1.2rem;
   font-weight: 400;
}
a {
    display: inline;
}
a[href="https://github.com/danielecantoro/danielecantoro.github.io"]{
   text-decoration: none;
   color: var(--grayishBlue);
   padding: 15px;
   text-align: center;
   background-color: lightgreen;
}
a[href="https://github.com/danielecantoro/danielecantoro.github.io"]:hover{
   background-color: rgb(195, 236, 195);
}
a[href="https://github.com/danielecantoro/danielecantoro.github.io"]:active{
   background-color: rgb(215, 238, 215);
}

main {
   background-image: radial-gradient(#ffd400 1.5px, transparent 1.5px);
   background-size: 100px 100px;
}
.personal-image {
   height: auto;
    }
main img {
    width: 250px;
    height: auto;
    border-radius: 20%;
    opacity: 0;
    animation: fadeIn 5s ease-in-out;
    animation-fill-mode: forwards;
}
main{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   height: 95vh;
    }
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    }
.container img {
    width: 50px;
    } 
@media (max-width: 886px){
main { 
        justify-content: center;
    }
main img {
    max-height: 220px;
    }
}
@media (max-width: 885px) and (min-width: 533px){
main {
    justify-content: center;
    }
main img {
    max-height: 200px;
    }
}
@media (max-width: 532px) and (min-width: 442px){
main {
    justify-content: center;
    }
main img {
    max-height: 180px;
    }
}
@media (max-width: 441px) and (min-width:331px){
main{
    justify-content: center;
    }
main img {
    max-height: 145px;
    }
}
@media (max-width: 330px) and (min-width:324px){
main{
    justify-content: center;
    }
main img {
    max-height: 115px;
    }
}
@keyframes fadeIn {
from { opacity: 0;}
to { opacity: 1;}
}