body {
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    }
h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: ghostwhite;
    }
.container {
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced154, -14px -14px 20px #ffffff2b;
    }
.inputs {
  text-align: left;
  margin-top: 30px;
    }
label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
    }
input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    }
label {
  margin-bottom: 4px;
  font-weight: bold;
    }
button {
  display: inline;
  width: 14%;
  color: white;
  margin-top: 20px;
  background: black;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced12e, -6px -6px 6px #ffffff30;
  transition: 0.5s;
    }
@media screen and (min-width: 1500px)
{
body{
  font-size: 1.5rem;
}
}

@media screen and (max-width: 676px) {
button {
  display: block;
    }
  }
@media screen and (max-width: 582px){
h1 {
  font-size: 1.2rem;
    }
.container {
  width: 250px;
  height: 400px;
    }
  }